<div class="row">
  <div class="col-xs-12">
    <h2>Lists of reimbursement:</h2>
  </div>
</div>
<div class="list-group"><a href="#" class="list-group-item list-group-item-action list-group-item-primary"><span>DATE OF
      TRIP</span>
    | <span>RECIPES TYPE</span> | <span>RECIPES AMOUNT</span> | <span>IS SETTLED?</span></a>
  <app-user-reimbursement-item *ngFor="let reimbursementEl of reimbursements; let i = index"
    [reimbursement]='reimbursementEl' [index]="i"></app-user-reimbursement-item>

</div>
<div class="col-xs-12" *ngIf="settleds.length">
  <h2>Lists of add to settled:</h2>
  <ul class="list-group" *ngFor="let settled of settleds; let id = index">
    <li class="list-group-item">{{ id + 1 }} : {{ settled.tripDate }} - {{ settled.receiptsType }} - {{
      settled.receiptsAmount | currency
      }}</li>

  </ul>
</div>
<div class="col-xs-12" *ngIf="sumSettled">
  <h2>Reimbursement of business travel expenses: {{ sumSettled | currency }}</h2>
</div>
