<div class="row">
  <div class="col-xs-12">
    <h2>Lists of reimbursement:</h2>
  </div>
</div>
<div class="list-group"><a href="#" class="list-group-item list-group-item-action list-group-item-primary"><span>DATE OF
      TRIP</span>
    | <span>RECIPES TYPE</span> | <span>RECIPES AMOUNT</span> | <span>IS SETTLED?</span></a>
  <app-user-reimbursement-item *ngFor="let reimbursementEl of reimbursements; let i = index"
    [reimbursement]='reimbursementEl' [index]="i"></app-user-reimbursement-item>

</div>
<div class="col-xs-12" *ngIf="toReimbursements.length">
  <h2>Lists of add to settled:</h2>
  <ul class="list-group" *ngFor="let toReimbursement of toReimbursements; let id = index">
    <li class="list-group-item">{{ id + 1 }} : {{ toReimbursement.date }} - {{ toReimbursement.amount | currency }}</li>

  </ul>
</div>
<div class="col-xs-12" *ngIf="sumSettled">
  <h2>Reimbursement of business travel expenses: {{ sumSettled | currency }}</h2>
</div>