<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="reimbursementForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-3">
          <button type="submit" class="btn btn-success" [disabled]="!reimbursementForm.valid">Save</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="tripDate">Trip Date </label>
            <input type="date" id="tripDate" formControlName="tripDate" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label class="input-group-text" for="receiptsType">Receipts Type</label>
            <select class="custom-select" id="receiptsType" formControlName="receiptsType">
              <option selected>Choose...</option>
              <option value="Taxi">Taxi</option>
              <option value="Hotel">Hotel</option>
              <option value="Plane ticket">Plane ticket</option>
              <option value="Train">Train</option>

            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="receiptsAmount">Receipts Amount</label>
            <input type="number" id="receiptsAmount" formControlName="receiptsAmount" class="form-control">
          </div>
        </div>
      </div>

    </form>
  </div>
</div>
