<!-- Sidebar -->
<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
  <div class="position-sticky">
    <div class="list-group list-group-flush mx-3 mt-4">
      <a routerLinkActive="active" routerLink="/user" [routerLinkActiveOptions]="{exact: true}"
        class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
        <fa-icon [icon]="faHouse"></fa-icon>
        <span>My reimbursements</span>
      </a>
      <a routerLinkActive="active" routerLink="/user/new" class="list-group-item list-group-item-action py-2 ripple">
        <fa-icon [icon]="faPlus"></fa-icon><span>New reimbursement</span>
      </a>
      <!-- <a routerLinkActive="aftive" class="list-group-item list-group-item-action py-2 ripple"><fa-icon
          [icon]="faPrint"></fa-icon><span>Print reimbursement</span></a> -->
      <a class="list-group-item list-group-item-action py-2 ripple"><fa-icon
          [icon]="faRightToBracket"></fa-icon><span>Logout</span></a>
    </div>
  </div>
</nav>
